* {
  padding: 0;
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

.container {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.circle {
  width: 140px;
  padding: 10px;
  background-color: #4e21ca;
  background-image: linear-gradient(0deg, #00308f 0%, #4e21ca 100%);
  border-radius: 50%;
  line-height: 50px;
}
.circle h1 p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
.left {
  padding: 30px;
  background-color: #2e2be9;
  background-image: linear-gradient(0deg, #2e2be9 0%, #7857ff 100%);
  border-radius: 15px;
  text-align: center;
  color: white;
}

.right {
  padding: 30px;
  color: hsl(224, 30%, 27%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
/*   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.right,
.left {
  width: 15%;
  height: 40%;
}

.reaction,
.memory,
.verbal,
.visual {
  margin-top: 15px;
  text-align: center;
  border-radius: 3px;
  height: 30px;
  justify-content: space-between;
  padding: 5px;
}

.icon,
.reaction,
.memory,
.verbal,
.visual {
  display: flex;
  align-items: center;
  padding: 5px;
}

svg {
  width: 50%;
  height: 70%;
  align-items: center;
}
.reaction {
  background-color: hsla(0, 100%, 67%, 0.3);
}
.memory {
  background-color: hsla(39, 100%, 56%, 0.3);
}
.verbal {
  background-color: hsla(166, 100%, 37%, 0.3);
}
.visual {
  background-color: hsla(234, 85%, 45%, 0.3);
}

.reaction p {
  color: hsla(0, 100%, 67%);
}
.memory p {
  color: hsla(39, 100%, 56%);
}
.verbal p {
  color: hsla(166, 100%, 37%);
}
.visual p {
  color: hsla(234, 85%, 45%);
}

button {
  background-color: hsl(224, 30%, 27%);
  width: 100%;
  border-radius: 30px;
  color: white;
  border-style: none;
  height: 10%;
  margin-top: 10%;
}
